* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  padding: 30px 0;
}
.faqmid {
  max-width: 1000px;
  margin: auto;
}
.faqitems {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.faqitems h3 {
  padding: 15px;
  background-color: yellowgreen;
  /* //+ icon ko dur karne ke liye  */
  position: relative;
  cursor: pointer;
}
.faqitems p{
  background-color: #d7d7d7;
}
.faqitems span {
  /* //+ icon ko dur karne ke liye  */
  position: absolute;
  right: 5px;
  font-size: 20px;
}
.faqitems p {
  font-size: 18px;
  line-height: 30px;
  padding: 10px;
  display: none;
}
.showanswer {
  display: block !important;
}